<ng-container *ngIf="!this.cartService.products.length">
  <div style="text-align:-webkit-center;">
    <mat-card class="example-card">
      <mat-card-header>
        <div mat-card-avatar class="example-header-image"></div>
        <mat-card-title>{{'cart.title' | translate}}</mat-card-title>
      </mat-card-header>
      <img mat-card-lg-image src="https://img.freepik.com/free-vector/shopping-cart_1284-672.jpg?size=338&ext=jpg">
      <mat-card-content>
        <h1>{{'cart.status' | translate}}</h1>
      </mat-card-content>
      <mat-card-actions>
        <h3>{{'cart.h3AddGoods' | translate}}</h3>
        <button style="margin-bottom: 10px;" mat-flat-button color="primary" routerLink="/dashboard/dec-cos">
          {{'cart.buttonText' | translate}}</button>
      </mat-card-actions>
    </mat-card>
  </div>
</ng-container>



<div style="padding:20px" *ngIf="this.cartService.products.length">


  <table class="table">
    <thead>
      <tr>
        <th scope="col">{{'cart.th1' | translate}}</th>
        <th scope="col">{{'cart.th2' | translate}}</th>
        <th scope="col">{{'cart.th3' | translate}}</th>
        <th scope="col">{{'cart.th4' | translate}}</th>
        <th scope="col">{{'cart.th5' | translate}}</th>
        <th scope="col">{{'cart.th6' | translate}}</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let product of   this.cartService.products; let i = index;">
        <td>{{i + 1}}</td>
        <td><img class="goods-image" src="{{'./assets/images/' + product.imageName}}"></td>
        <td>{{product.brand}}</td>
        <td>{{product.serries}}</td>
        <td style="font-weight: bold;">{{product.price}}$</td>
        <td>{{product.quantity}}</td>
        <td>
          <mat-icon class="delete-one-item" role="button" (click)="removeItem(product)">delete</mat-icon>
        </td>
      </tr>
    </tbody>
  </table>
  <div class="button-remove-all-wrap">
    <button (click)="makeEmptyCart()" mat-flat-button color="warn">{{'cart.buttonRemoveAllText' | translate}}</button>
  </div>
</div>