
  
  <div class="grid-container">
    <h1 class="mat-h1" style="text-align: center;">Mascara</h1>
  <!-- <div style="width:100%; ">
    <app-choose-brand-of-product></app-choose-brand-of-product>
    <app-choose-brand-of-product></app-choose-brand-of-product>
    <app-choose-brand-of-product></app-choose-brand-of-product>
  </div> -->
  <mat-grid-list style="margin-top: 100px;" cols="3" rowHeight="320px">
    <mat-grid-tile *ngFor="let card of  this.filtered_goods.cards" [colspan]="card.cols" [rowspan]="card.rows">
      <mat-card class="example-card">
        <mat-card-title-group>
          <mat-card-title>{{card.brandName}}</mat-card-title>
          <mat-card-subtitle style="margin-bottom:10px;margin-top:10px;">Serries:&nbsp;{{card.serriesName}}</mat-card-subtitle>
          <mat-card-subtitle style="margin-bottom:10px;">Volume:&nbsp;{{card.volume}}</mat-card-subtitle>
          <mat-card-subtitle>{{card.brandCountry}}</mat-card-subtitle>
          <mat-card-title  style="font-size: 15px; color: #707172">Price:&nbsp;{{card.price}}</mat-card-title>
          <!-- <img mat-card-sm-image src="https://material.angular.io/assets/img/examples/shiba2.jpg" > -->
          <img mat-card-sm-image src="{{url + card.img}}" >
        </mat-card-title-group>
        <mat-card-content>
          {{card.description}}
        </mat-card-content>
        <a href="" style="color: #707172;">Read more...</a> <br>
        <button mat-flat-button color="primary" style="margin-top: 10px;">Buy now</button>
      </mat-card>
      
    </mat-grid-tile>
  </mat-grid-list>
</div>
