<div class="grid-container">
  <h1 class="mat-h1">Todays Sale</h1>
  <mat-grid-list cols="2" rowHeight="450px">
    <mat-grid-tile *ngFor="let card of cards" [colspan]="card.cols" [rowspan]="card.rows">
      <mat-card [routerLink]="['/dec-cos']"   class="dashboard-card card-image" >
        <mat-card-header class="mat-app-background card-title">
          <mat-card-title>
            {{card.tagline}}
          </mat-card-title>
        </mat-card-header>
        <div class="img-wrap">
          <img src="./assets/images/{{card.imgName}}.jpg">
        </div>
      </mat-card>
    </mat-grid-tile>
  </mat-grid-list>
</div>
