img{
  object-fit: contain;
  max-width: 100%;
  mix-blend-mode: multiply;
  max-height: 200px;
  border-radius: 4px;
  margin: 15px;
}
.grid-container{
  padding: 20px;
}
.dashboard-card {
  position: absolute;
  top: 15px;
  left: 15px;
  right: 15px;
  bottom: 15px;
}
.img-wrap{
    width: 100%;
    display: flex;
    justify-content: center;
}
.mat-h1{
    text-align: center;
}
.card-title{
  border-radius: 4px;
  padding: 10px;
  color: white;
  background-color: #607d8b;;
}
.mat-card-header .mat-card-title {
  margin-bottom: 0;
  font-weight: normal;
}

@media screen and (max-width:992px){
  .mat-card-header .mat-card-title{
    font-size: 15px;
    font-weight: normal;
  }
}
@media screen and (max-width:576px){
  .mat-card-header .mat-card-title{
    font-size: 13px;
    font-weight: normal;
  }
}
