<ng-container *ngIf="!this.cartService.likedProducts.length" >
    <div style="text-align:-webkit-center;">
      <mat-card class="example-card">
        <mat-card-header>
          <div mat-card-avatar class="example-header-image"></div>
          <mat-card-title>{{'likedGoods.title' | translate}}</mat-card-title>
        </mat-card-header>
        <img mat-card-lg-image src="https://image.freepik.com/free-vector/heart-shape-social-media-notification-icon-speech-bubbles-vector-illustration_56104-841.jpg">
        <mat-card-content>
          <h1>{{'likedGoods.status' | translate}}</h1>
        </mat-card-content>
        <mat-card-actions>
          <h3>{{'likedGoods.h3AddGoods' | translate}}</h3>
          <button style="margin-bottom: 10px;" mat-flat-button color="primary"
           routerLink="/dashboard/dec-cos">{{'likedGoods.buttonText' | translate}}</button>
        </mat-card-actions>
      </mat-card>
    </div>
  </ng-container>
  
  
  
  <div style="padding:10px" *ngIf="this.cartService.likedProducts.length">
    <table class="table" >
      <thead>
        <tr>
          <th scope="col">{{'likedGoods.th1' | translate}}</th>
          <th scope="col">{{'likedGoods.th2' | translate}}</th>
          <th scope="col">{{'likedGoods.th3' | translate}}</th>
          <th scope="col">{{'likedGoods.th4' | translate}}</th>
          <th scope="col">{{'likedGoods.th5' | translate}}</th>
          <th scope="col">{{'likedGoods.th6' | translate}}</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let product of   this.cartService.likedProducts; let i = index;">
          <td>{{i + 1}}</td>
          <td><img src="{{'./assets/images/' + product.imageName}}"></td>
          <td>{{product.brand}}</td>
          <td>{{product.serries}}</td>
          <td style="font-weight: bold;">{{product.price}}$</td>
          <td>{{product.quantity}}</td>
          <td>
            <mat-icon class="delete-one-item" role="button" (click)="removeItem(product)">delete</mat-icon>
          </td>
        </tr>
      </tbody>
    </table>
    <div class="button-remove-all-wrap">
      <button (click)="makeEmptyLiked()" mat-flat-button color="warn">{{'likedGoods.buttonRemoveAllText' | translate}}</button>
    </div>
  </div>
