<ng-container *ngIf="!this.cartService.likedProducts.length" >
    <div style="text-align:-webkit-center;">
      <mat-card class="example-card">
        <mat-card-header>
          <div mat-card-avatar class="example-header-image"></div>
          <mat-card-title>Liked goods</mat-card-title>
        </mat-card-header>
        <img mat-card-lg-image src="https://image.freepik.com/free-vector/heart-shape-social-media-notification-icon-speech-bubbles-vector-illustration_56104-841.jpg">
        <mat-card-content>
          <h1>You don't liked any goods!</h1>
        </mat-card-content>
        <mat-card-actions>
          <h3>Search goods now</h3>
          <button mat-flat-button color="primary" routerLink="/dec-cos">Search Now</button>
        </mat-card-actions>
      </mat-card>
    </div>
  </ng-container>
  
  
  
  <ng-container *ngIf="this.cartService.likedProducts.length">
  
  
    <table class="table">
      <thead>
        <tr>
          <th scope="col">Sr.No</th>
          <th scope="col">Image</th>
          <th scope="col">Brand</th>
          <th scope="col">Serries</th>
          <th scope="col">Price</th>
          <th scope="col">Quantity</th>
        </tr>
      </thead>
      <tbody style="position: relative;">
        <tr *ngFor="let product of   this.cartService.likedProducts; let i = index;">
          <td>{{i + 1}}</td>
          <td><img src="{{'http://localhost:3000/images/' + product.imageName + '.png' }}"></td>
          <td>{{product.brand}}</td>
          <td>{{product.serries}}</td>
          <td style="font-weight: bold;">{{product.price}}$</td>
          <td>{{product.quantity}}</td>
          <td>
            <mat-icon class="delete-one-item" role="button" (click)="removeItem(product)">delete</mat-icon>
          </td>
        </tr>
        <button style="margin-top: 10px; position: absolute; left:45%" (click)="makeEmptyCart()" mat-flat-button
          color="warn">Remove all</button>
      </tbody>
    </table>
  </ng-container>
